@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
}

.vr {
    width: 3px;
    height: 40px;
    background-color: #FF00DF;
    /* float: left; */
    align-self: center;
    /* margin-left: 15px; */
    /* margin-top: -5px; */
}

.navcon {
    align-self: center;
}

.logo {
    display: flex;
}

ul {
    display: flex;
	padding: 0;
}
body {
	background: url("DWSH-126.jpg");
	background-attachment: fixed;
}
div.app {
	width: 1200px;
	margin: auto;
}
div.nav {
	background-image: linear-gradient(/*down, */#202020 5%, #fb00ffd9 105%);
	height: 50px;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
	border-bottom: 10px solid #b710fb;
}
nav {
	height: 55px;
	/* margin-left: 20px; */
	margin-top: -10px;
	display: flex;
	justify-content: space-evenly;
}
.logo1 {
	/* margin-right: 7px; */
	/* margin-top: -12px; */
	align-self: center;
	width: 97px;
}
h1.teamname, img.logo1 {
	/* float: left; */
	align-self: center;
}
li {
	list-style: none;
	/* float: left; */
	margin: 0px 25px;
}

li:first-child {
    margin-left: 0;
}
a {
	font-family: monospace;
	font-weight: bold;
	color: currentColor;
	text-decoration: none;
	font-size: 25px;
	transition: color 1.5s;
	/*transition-timing-function:ease-in-out;*/
}
a:hover {
	color: fuchsia;
	padding-bottom: 4px;
	border-bottom: 5px solid fuchsia;
	transition: color .4s;
}
a:active {
	color: azure;
	padding-bottom: 4px;
	border-bottom: 5px solid azure;
}
.bannerPic {
	vertical-align: bottom;
}
.bannerdes {
	font-size: 35px;
    font-family: system-ui;
    color: #000000;
    background-color: #fb00ffd9;
    text-align: center;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
div.deco1 {
	width: 1200px;
	height: 40px;
	/*	padding-bottom: 0px;
	border-bottom:0px;*/
	color: hsla(311, 100%, 50%, 1.00)
}
.welcomePad {
	width: 1200px;
	height: 80px;
	background: rgb(118, 0, 141);
	background: linear-gradient(90deg, #9119ff 0%, rgba(251, 0, 243, 1) 22%, rgba(251, 0, 243, 1) 74%, #9119ff 100%);
	border-bottom-color: #f788ff;
	border-bottom-style: solid;
	border-bottom-width: 20px;
	border-top-style: solid;
	border-top-width: 10px;
	border-top-color: #9119ff;
}
p.welc {
	font-family: 华文新魏;
	font-size: 45px;
	text-align: center;
	margin-top: 12px;
}
/*p.welc::before{
	content: ;
	width: 30px;
	height: 30px;
	background-color: #E031A8;
}*/
.welcomePad::after {
	content: "";
	border-style: solid;
	border-color: #fb00ff transparent transparent transparent;
	border-width: 85px;
	position: absolute;
	left: 43.1%;
	z-index: 3;
	top: 589.8px;
}
.sidepic1,.sidepic2{
	height: 580px;
	position: absolute;
}
div.main{
	background-color: #f3f3f3;
	width: 1200px;
	height: auto;
}
.sidepic1{
	top: 90%;
	/*left: 10.5%;*/
}
.sidepic2{
	top: 90%;
	right: 0%;
}
.gradCover {
    z-index: 2;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 14%, rgba(255,255,255,1) 28%, rgba(255,255,255,1) 74%, rgba(255,255,255,0.7) 87%, rgba(255,255,255,0) 100%);
    width: 1200px;
    height: 653px;
    position: absolute;
	transition: transform 3s;
	
}
.gradCovercopy {
    z-index: 1;
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 89%, rgba(255,255,255,0) 100%);
    width: 1200px;
    height: 653px;
    position: absolute;
	transform: scaleX(-0.63);
}
.gradCover:hover{
	transform: scale(0.45,1)
}
.intropara{
	position: absolute;
	top: 40px;
	left: 50%;
	font-size: 40px;
	z-index: 3;
}